<style>
  .box{
    display: flex;
    justify-content: center;
  }
  .nested-box{
    overflow: hidden;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    padding: 20px;
    border-radius: 25px 5px 25px 5px;
    box-shadow: 0 0 0 1px #888888;
    transition: 0.4s;
    position: relative;
  }
  .restaurant{
    font-size: 18px;
    font-style: bold;
  }
  .address{
    font-size: 12px;
  }
</style>

<div class="box">
  <div class="nested-box">
      <div class="restaurant"><%= @restaurant.restaurant_name %></div>
      <div class="address"><%= @restaurant.address %></div>
      <div class="status"><%= @restaurant.status %></div>
  </div>
</div>
<br>
<div align="center">
  <%= button_to "Dishes", dishes_api_v1_restaurant_path(@restaurant), method: :get %>
  <% if @restaurant.owner_id == current_user.id %>

    <%= turbo_frame_tag "restaurant_#{@restaurant.id}" do %>
      <%= button_to "edit", edit_api_v1_restaurant_path(@restaurant), method: :get, data: { turbo_frame: "_top" } %>
    <% end %>

    <%= button_to "delete", { controller: "api/v1/restaurants", action: :destroy, id: @restaurant.id }, method: :delete %>
  <% end %>
</div>
