<a href="<%= api_v1_dish_path(dish) %>" class="grid-item custom-hover">
  <div>
    <div align="center">

      <% if dish.dish_images.attached? %>
        <%= image_tag dish.dish_images[0], class:"image" %>
      <% else %>
        <%= image_tag "no_image.png", class:"image" %>
      <% end %>
    </div>

    <div class="dish"><%= dish.dish_name %></div>
    <div class="category"><%= Category.includes(:dishes).where(dishes: { id: dish.id }).first.category_name %></div>
  </div>
</a>
