<style>
  .grid-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .grid-item{
    border: 0.5px solid;
    border-radius: 10px;
    padding: 8px;
  }
  .grid-footer{
    margin-top: 20px;
    grid-area: f;
    text-align: center;
  }
  .image{
    width: 100%;
    height: fit-content;
  }
  .dish{
    size: 16px;
    font-weight: bold;
  }
  .category{
    size: 12px;
  }
</style>

<div class="grid-container">
  <% dishes.each do |dish| %>
    <a href="<%= api_v1_dish_path(dish) %>" class="grid-item custom-hover">
      <div>
        <div align="center">

          <% if dish.dish_images.attached? %>
            <%= image_tag dish.dish_images[0], class:"image" %>
          <% else %>
            <%= image_tag "no_image.png", class:"image" %>
          <% end %>
        </div>

        <div class="dish"><%= dish.dish_name %></div>
        <div class="category"><%= Category.includes(:dishes).where(dishes: { id: dish.id }).first.category_name %></div>
      </div>
    </a>
  <% end %>
</div>
