<%= form_with url: api_v1_auth_registrations_path, scope: :user, method: "post" do |f| %>

  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.hidden_field :uid, autofocus: true, autocomplete: "uid", value: params["uid"] || params["user"]["uid"] %>
  </div>

  <div class="field">
    <%= f.hidden_field :provider, autofocus: true, autocomplete: "provider", value: params["provider"] || params["user"]["provider"] %>
  </div>

  <div class="field">
    <%= f.hidden_field :avatar_url, autofocus: true, autocomplete: "avatar_url", value: params["avatar_url"] || params["user"]["avatar_url"] %>
  </div>

  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", value: params["name"] || params["user"]["name"] %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: params["email"] || params["user"]["email"] %>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", value: params["phone_number"] || params["user"]["phone_number"] %>
  </div>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, value: params["username"] || params["user"]["username"] || "" %>
  </div>

  <div class="field">
    <%= f.label :type %><br />
    <%= f.select :type, options_for_select(["Customer", "Owner"]) %>
  </div>

  <div class="field">
    <%= f.label :profile_picture %><br />
    <%= f.file_field :profile_picture %>
  </div>

  <div class="actions">
    <%= f.submit "continue" %>
  </div>
<% end %>
