<% if @user_authentication.errors.any? %>
  <% @user_authentication.errors.full_messages.each do |message|%>
     <h3><%= message %> </h3>
  <%end%>
<%end%>
</br>

<%= form_for @user_authentication do |form| %>
  <%= form.text_field :username %>
  <%= form.text_field :password %>
  <%= form.submit %>
<% end %>
