<%= render "api/v1/shared/search", locals: { path: api_v1_restaurant_dishes_path, is_show_status: true } %>

<br>

<table align="center", style="max-width: 40rem;">
  <thead style="color:red">
    <tr>
      <th>Restaurant Name</th>
      <th>Dish Name</th>
      <th>Status</th>
      <th>Address</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @restaurant_dishes.each do |rd| %>
      <tr>
        <td><%= rd.restaurant.restaurant_name %></td>
        <td><%= rd.dish.dish_name %></td>
        <td><%= rd.restaurant.status %></td>
        <td><%= rd.restaurant.address %></td>
        <td><%= rd.price %></td>

        <td><%= button_to "view", api_v1_restaurant_dish_path(rd), method: :get %></td>

        <% if rd.restaurant.owner_id == current_user.id %>
          <td><%= button_to "edit", edit_api_v1_restaurant_dish_path(rd), method: :get %></td>
        <% end %>


        <% if @current_user.type == "Customer" %>
          <td><%= button_to "add to cart", { controller: :cart_items, action: :create, params: { restaurant_dish_id:rd.id, quantity: 1 } }, data: { turbo_method: "post" } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @restaurant_dishes %>
