<style>
  .container{
    display: flex;
    flex-direction: column;
  }
  .item{
    padding: 10px;
    margin: 6px 100px;
    display: flex;
    background-color: var(--main-color);
    justify-content: space-evenly;
    border: 0.5px solid;
    border-radius: 10px;
  }
  .image-detail{
    display: flex;
  }
  .image{
    height: 100px;
    width: 100px;
  }
  .detail{
    display: flex;
    flex-direction: column;
  }
  .price-quantity{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .dish{
    font-size: 16px;
    font-style: bold;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .restaurant{
    font-size: 12px;
  }
  .quantity{
    text-align: right;
  }
  .remove{
    position: absolute;
    right: 108px;
    font-size: 24px;
    top: 106px;
    color: red;
  }
</style>

<div class="container">
  <% if @cart.present? %>
    <% @cart.cart_items.each do |item| %>
      <div class="item">
        <div class="image">
          <% if item.restaurant_dish.dish.dish_images.attached? %>
            <%= image_tag item.restaurant_dish.dish.dish_images[0], class: "image" %>
          <% else %>
            <%= image_tag "no_image.png", class: "image", style:"border: 0.01px solid #b9b9b9" %>
          <% end %>
        </div>
        <div class="detail">
          <div class="dish"><%= item.restaurant_dish.dish.dish_name %></div>
          <div class="restaurant"><%= item.restaurant_dish.restaurant.restaurant_name %></div>
          <div class="status"><%= item.restaurant_dish.restaurant.status %></div>
        </div>
        <div class="price-quantity">
          <div class="quantity">x
            <%= item.quantity %>
          </div>
          <div class="price">&#8377
            <%= item.price %>
          </div>
        </div>
        <a href="" class="remove">x</a>
      </div>
    <% end %>
  <% end %>
</div>

<div align="center">
  <%= button_to "Checkout", api_v1_orders_path, method: :post, style:"background: green;"%>
</div>
