<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      #header {
        border:1px solid #000000;
        display: flex;
        justify-content: flex-end;
        background: aqua;
        padding: 6px;
        margin: 0px;
      }
    </style>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if current_user %>
      <div id="header">
        <%= link_to api_v1_user_path(current_user) do %>
          <%= image_tag("profile_pic.png", size: "30x30") %>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
