<!DOCTYPE html>
<html>
  <head>
    <title>Swiggy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      #header {
        border:1px solid #000000;
        display: flex;
        justify-content: flex-end;
        background: #48C9B0;
        padding: 6px;
        margin: 0px;
      }
      button {
        margin: 2px 2px 2px 2px;
      }
    </style>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <header id="header">
      <div style="margin: auto;">
        <%= link_to "HOME", api_v1_restaurant_dishes_path %>
        <%= link_to "DISHES", api_v1_dishes_path %>
        <%= link_to "RESTAURANT", api_v1_restaurants_path %>
      </div>

      <div>
        <% if current_user %>
          <%= link_to api_v1_user_path(current_user) do %>
            <% if current_user.profile_picture.attached? %>
              <%= image_tag(current_user.profile_picture, size: "30x30") %>
            <% else %>
              <%= image_tag("profile_pic.png", size: "30x30") %>
            <% end %>
          <% end %>
        <% end %>
      </div>

    </header>

    <br>

    <%= yield %>
  </body>
</html>
